name: Release Plugin

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+*' # Triggers on tags starting with 'v'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install qgis-plugin-ci
        run: pip install qgis-plugin-ci

      - name: Deploy to QGIS Repository
        run: >
          qgis-plugin-ci release ${GITHUB_REF_NAME}
          --osgeo-username ${{ secrets.OSGEO_USER }}
          --osgeo-password ${{ secrets.OSGEO_PASSWORD }}
